.format-content {
  text-indent: 20px;
  text-align: justify;
  font-size: 1em !important;
}

.my-blog {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.my-blog a {
  color: #2c3e50;
}
.my-blog-hr {
  color: #f39c12;
}
.btn-default {
  background-color: #1A242F !important;
}
